**/.cabal-sandbox
**/cabal.sandbox.config
**/idx/
**/dist/
**/log/

**.prof
**.swp
**.hi
**.o
**.dyn_hi
**.dyn_o
**.hpc
**.hpc-*
**.tix
**~

TAGS
tags

etc
eg/*.dot
eg/*.eps
eg/*.pdf
bench/*.dot
bench/*.eps
bench/*.pdf
mk/toplibs

tests/test-compose-dynamic
tests/test-engine
tests/test-expr
tests/test-eval
tests/test-haexpress
tests/test-kbc
tests/test-match
tests/test-misc
tests/test-order
tests/test-creason
tests/test-reason
tests/test-stats
tests/test-utils
eg/eg
eg/arith
eg/0arith
eg/binarytree
eg/bool
eg/color
eg/digraphs
eg/list
eg/length
eg/minus
eg/numbool
eg/insertsort
eg/string
eg/pretty
eg/ratio
eg/sets
eg/monad
eg/tauts
eg/oddeven
bench/expressions
bench/representatives
bench/representatives2
bench/arithficial
bench/qs*/0arith
bench/qs*/arith
bench/qs*/bool
bench/qs*/list
bench/qs*/arithficial
bench/qs*/quickspec
