# cabal stuff
**/.cabal-sandbox
**/cabal.sandbox.config
**/idx/
**/dist/
dist-newstyle
**/log/
.stack-work

doc/**/*.html
doc/**/*.css
doc/**/*.js
doc/**/*.png
doc/**/*.gif
doc/**/*.json

**.prof
**.swp
**.hi
**.o
**.dyn_hi
**.dyn_o
**.hpc
**.hpc-*
**.tix
**~

TAGS
tags
ctags

etc
eg/*.dot
eg/*.eps
eg/*.pdf
bench/*.dot
bench/*.eps
bench/*.pdf
mk/toplibs

test/compose-dynamic
test/engine
test/expr
test/eval
test/haexpress
test/kbc
test/order
test/creason
test/reason
test/stats
test/utils
eg/eg
eg/algebraic-graphs
eg/arith
eg/arith-negate-abs
eg/0arith
eg/binarytree
eg/binarytree0
eg/bool
eg/color
eg/colour
eg/digraphs
eg/fun
eg/list
eg/length
eg/lenzip
eg/zip
eg/minus
eg/numbool
eg/insertsort
eg/insertsort0
eg/speculate-reason
eg/string
eg/plus-abs
eg/pretty
eg/pretty-compact
eg/ratio
eg/regexes
eg/sets
eg/monad
eg/tauts
eg/tuples
eg/oddeven
bench/expressions
bench/representatives
bench/representatives2
bench/arithficial
bench/nord
bench/unit
bench/qs*/0arith
bench/qs*/arith-negate-abs
bench/qs*/arith
bench/qs*/binarytree
bench/qs*/binarytree0
bench/qs*/plus-abs
bench/qs*/plus-abs-ineq
bench/qs*/bool
bench/qs*/list
bench/qs*/list-ineq
bench/qs*/length
bench/qs*/lenzip
bench/qs*/zip
bench/qs*/insertsort
bench/qs*/insertsort0
bench/qs*/arithficial
bench/qs*/quickspec
bench/qs*/regexes
bench/qs*/regex

# Haddock
doc/*.html
doc/*.css
doc/*.js
doc/*.png
doc/*.gif
